.Benefits {
  background-color: black;
  background-image: url("./img/hero-bg-ambient.jpg");
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 250px;
  .benefits-title {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-size: 55px;
    @media (max-width: 764px) {
      font-size: 30px;
    }
  }
  .benefits-subtitle {
    color: #dfc65b;
    text-align: center;
    font-family: "IBM Plex Sans",sans-serif;
    font-size: 27px;
    margin-bottom: 60px;
  }
  .benefits-block {
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    line-height: 1.1;
    .benefits-img {
      background: #ffffff;
      display: flex;
      justify-content: center;
      img {
        max-width: 200px;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      font-family: "IBM Plex Sans",sans-serif;
      line-height: 1.1;
      background: #dfc65b;
      padding: 10px 15px;
      color: #ffffff;
      text-align: center;
    }
    .description {
      padding: 15px 18px;
      background: #333;
      color: #ffffff;
      font-size: 18px;
      line-height: 1.42857143;
    }
  }
}