.BottomSection {
    .footer-logo {
        height: 30px;
        width: auto;
    }
    & .footer {
        background: #333333;
        padding: 45px 0;
        color: #969696;

        .links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            a, span {
                color: #969696;
                font-weight: 500;
                font-size: 11px;
                line-height: 1.4;
                text-decoration: none;
                margin-left: 15px;
                cursor: pointer;
                &:hover {
                    color: #969696;
                    text-decoration: underline;
                }
            }
            span {
                cursor: initial;
                &:hover {
                    text-decoration: none;
                }
                &:before {
                    content: "•";
                    margin-right: 15px;
                    color: #dfc65b;
                }
            }
        }
        .disclaimer {
            font-size: 11px;
            color: #8d8d8d;
            padding: 15px;
            border: 1px solid rgba(255,255,255,0.25);
            margin-top: 15px;
            p {
                line-height: 1.1;
                margin: 0 0 8px;
                span {
                    font-weight: 700;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}